* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #101016;
  overflow: hidden;
}

.catto-img {
  width: 30%;
  z-index: 0;
}

.bday-text {
  font-family: monospace;
  font-size: 20pt;
  z-index: 0;
}

.confetti {
  position: absolute;
  z-index: 1;
}

#clickme {
  background-color: burlywood;
  font-family: monospace;
  font-weight: bold;
  cursor: pointer;
  font-size: 40pt;
  padding: 6rem;
  border-radius: 20px;
  transition: background-color 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#clickme:hover {
  background-color: antiquewhite;
}
